@import "./normalize.css";
/*:root->获取根元素html*/
:root{

  --color-text: #666;
  /*文字高亮的时候的颜色*/
  --color-high-text: #ff5777;
  /*整体的背景颜色*/
  --color-tint: #ff8198;
  --color-background:#fff;
  --font-size: 14px;
  --line-height: 1.5;
  /*定义变量  在其他css中就可以使用这个变量*/
  /*--large-size:50px;*/
}
*,
*::before,
*::after{
  /*font-size: var(--large-size);*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif ;
  /*禁止用户鼠标咋页面上选中文字/图片等*/
  user-select: none;
  /*webkit是苹果浏览器引擎，tap点击，highlight1背景高亮，color
  颜色，颜色用数值调节*/
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-background);
  color: var(--color-text);
  width: 10vw;
}
a{
  color: var(--color-text);
  text-decoration: none;
}
.clear-fix::after{
  clear: both;
  content:'';
  display: block;
  width: 0;
  height: 0;
 visibility: hidden;
}
.clear-fix{
  zoom: 1;
}
.left{
  float: left;
}
.right{
  float: right;
}
